.wrapper {
  font-weight: 600;
  color: var(--color-gray-900);
}

.wrapper ul {
  padding: 0;
}

.wrapper h2 {
  color: var(--color-gray-700);
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.wrapper a {
  display: block;
  text-decoration: none;
  line-height: 2;
}
