.mainHeader {
  display: flex;
  align-items: baseline;
  padding: 18px 32px;
  border-bottom: 1px solid var(--color-gray-300);
  overflow: auto;
}

.desktopNav {
  display: flex;
  gap: clamp(1rem, 9.2vw - 4.5rem, 3.5rem);
  margin: 0px 48px;
}

.mobileActions {
  display: none;
}

.logoWrapper {
  flex: 1;
}

.shoppingBagButton {
  transform: translateX(-2px);
}

.filler {
  flex: 1;
}

.navLink {
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-gray-900);
  font-weight: 600;
}

/* Tablet */
@media (max-width: 59.375rem) {
  .mainHeader {
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid var(--color-gray-900);
  }

  .desktopNav {
    display: none;
  }

  .mobileActions {
    display: flex;
    gap: 32px;
  }

  .logoWrapper {
    flex: revert;
  }

  .filler {
    display: none;
  }
}

/* Mobile */
@media (max-width: 37.5rem) {
  .mainHeader {
    padding-left: 16px;
    padding-right: 16px;
  }

  .mobileActions {
    gap: 16px;
  }
}
